div{
    display: flex;
    align-items: center;
    margin: 0 auto;
      
}

.bodyHome 
 {
    background-color: #85c1e9 ;
    margin: 0 ;
    padding: 12px;
}

header
{
 background-color: white;
 width: 75%;
 margin: 0 auto;
 padding: 12px;
 border-radius: 8px;

}

.logoHome
{
   
    justify-content:space-between; 
}

.imgLogo{
height: 150px;
border-radius: 50%;

}

.espacioHome1
{
    height: 200px;
}

.espacioHome2
{
    height: 300px; 
}

.mainHome
{
   
    width: 75%;
    background-color: white;
    padding: 20px;
    margin: 0 auto ;
    border-radius: 8px;
}

.footerHome
{
    width:fit-content;
    background-color: white;
    padding: 12px;
    margin: 0 auto ;
    border-radius: 8px;
}

.tableHome{
    border-collapse: collapse;
    width: 100%;
    font-size: 30px;
}

td{
    border: 1px black;
    padding: 8px;
    text-align: center;
}

.texto
{
    
    flex-direction: column;
}
ul{
    display: flex; 
    flex-direction: column;
    gap: 4px;
}